<a href="https://colab.research.google.com/github/novalsakti02-kibo/Pemerograman-dasar/blob/main/Latihan_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Penjelasan Langkah-Langkah  

- Import Library

  Mengimpor numpy, pandas, matplotlib, dan seaborn sebagai tools untuk mengolah dan memvisualisasikan data.

- Pengecekan dan Pembersihan Data

  Mengecek missing value dengan isna().sum(), lalu mengisi nilai kosong pada kolom umur menggunakan rata-rata (22) dengan fillna().

- Pengecekan Duplikasi

  Memastikan tidak ada baris data kembar menggunakan duplicated().sum().

- Melihat Isi dan Struktur Data

  Menggunakan head(), tail(), dan info() untuk melihat contoh data, baris akhir, serta tipe data setiap kolom.

- Menyimpan Data Bersih

  Menyimpan dataset yang sudah dibersihkan ke file CSV dengan to_csv().

- Mengunduh File

  Mengunduh file CSV ke perangkat menggunakan files.download().

In [ ]:
SaktiKribo_df = pd.read_csv('/content/mahasiswa.csv')

Penjelasan:

Perintah ini digunakan untuk membaca file CSV yang bernama mahasiswa.csv dan memasukkannya ke dalam DataFrame bernama SaktiKribo_df. Dengan ini, seluruh isi data dalam file tersebut bisa diolah, dianalisis, atau dibersihkan menggunakan fungsi-fungsi Pandas.

In [ ]:
SaktiKribo_df.head()
#melihat 5 data teratas

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Teknik,150,59.5,82.0,2024-05-05
1,E0002,Budi,teknik,20.0,84.5,99.0,2024-02-14
2,E0003,Citra,Energi,-5,56.2,78.0,2024-04-29
3,E0004,Dewi,Teknik,twenty,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22.0,999,65.0,2024-03-22

Penjelasan

Perintah .head() digunakan untuk menampilkan 5 baris pertama dari DataFrame. Tujuannya adalah untuk melihat gambaran awal struktur data, seperti nama kolom, jenis isi data, serta memastikan bahwa dataset berhasil dimuat dengan benar.

In [ ]:
SaktiKribo_df.tail()
#melihat 5 data terakhir

      nim   nama      jurusan  umur nilai_akhir  kehadiran_pct tanggal_daftar
73  E0057  Fauzi       Energi  23.0        58.2           76.0     2024-02-05
74  E0039   Mita       Energi  23.0        77.2           79.0     2024-01-04
75  E0069  Salsa  Informatika  23.0        63.4           86.0     2024-04-14
76  E0031   Eros  Informatika  23.0        68.0           66.0     2024-02-27
77  E0026   Zara  Informatika  24.0        90.4           82.0     2024-11-24

Penjelasan

Fungsi .tail() digunakan untuk menampilkan 5 baris paling akhir pada DataFrame. Langkah ini dilakukan untuk mengecek bagian bawah dataset, memastikan tidak ada data yang terpotong, dan melihat kondisi data pada baris akhir.

In [ ]:
SaktiKribo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             78 non-null     object
 1   nama            78 non-null     object
 2   jurusan         76 non-null     object
 3   umur            76 non-null     object
 4   nilai_akhir     76 non-null     object
 5   kehadiran_pct   76 non-null     float64
 6   tanggal_daftar  76 non-null     object
dtypes: float64(1), object(6)
memory usage: 4.4+ KB

Penjelasan

Fungsi .info() digunakan untuk menampilkan ringkasan struktur DataFrame, seperti jumlah baris, jumlah kolom, tipe data setiap kolom, serta jumlah nilai non-null. Langkah ini membantu memahami kondisi data awal, termasuk apakah ada kolom yang masih berisi missing value atau memiliki tipe data yang belum sesuai.

In [ ]:
SaktiKribo_df.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

Penjelasan

Kode ini digunakan untuk menghitung jumlah nilai kosong (missing value) pada setiap kolom di DataFrame. Langkah ini penting untuk mengetahui bagian data mana yang perlu dibersihkan, seperti diisi nilai tertentu, diperbaiki formatnya, atau dihapus.

In [ ]:
print("Jumlah duplikasi: ", SaktiKribo_df.duplicated().sum())

Jumlah duplikasi:  8

Penjelasan

- Kode ini digunakan untuk mengecek apakah ada baris data yang duplikat di dalam DataFrame.

- duplicated() menghasilkan nilai True untuk baris yang terduplikasi.

- sum() menjumlahkan berapa banyak baris yang terdeteksi sebagai duplikasi.

Langkah ini penting untuk memastikan dataset tidak memiliki data ganda yang bisa mengganggu proses analisis.

In [ ]:
SaktiKribo_df.drop_duplicates(inplace=True)

Penjelasan

Kode ini digunakan untuk menghapus baris-baris yang terduplikasi pada dataset.

- drop_duplicates() mencari baris yang sama persis.

- inplace=True membuat perubahan langsung pada DataFrame tanpa perlu membuat salinan baru.

Langkah ini penting agar dataset menjadi lebih bersih, tidak memiliki data ganda, dan analisis menjadi lebih akurat.

In [ ]:
print("Jumlah duplikasi: ", SaktiKribo_df.duplicated().sum())

Jumlah duplikasi:  0

Penjelasan

Kode ini digunakan untuk menghitung berapa banyak baris data yang duplikat dalam DataFrame.

- SaktiKribo_df.duplicated() menghasilkan nilai True untuk setiap baris yang dianggap duplikat.

- .sum() menghitung jumlah nilai True, sehingga menghasilkan total baris duplikat.

- print() menampilkan jumlah duplikasi ke layar.

Langkah ini penting untuk mengetahui apakah dataset perlu dibersihkan dari data ganda.

In [ ]:
SaktiKribo_df.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

Penjelasan

Perintah ini digunakan untuk mengecek jumlah nilai kosong (missing value / NaN) pada setiap kolom di DataFrame.

- isna() akan menandai setiap nilai kosong sebagai True.

- .sum() menjumlahkan nilai True tersebut per kolom.

Hasilnya menunjukkan berapa banyak data yang hilang pada masing-masing kolom, sehingga kita tahu bagian mana yang perlu dibersihkan atau diperbaiki.

In [ ]:
SaktiKribo_df['jurusan'] = SaktiKribo_df['jurusan'].fillna("Pembangkit Energi")
#di sini untuk jurusan di isi dengan "Pembangkit Energi"

Penjelasan Langkah Langkah

- Mengambil kolom jurusan

  Kolom ini dicek karena masih terdapat data yang kosong (NaN).

- Mendeteksi nilai yang hilang

  Nilai NaN pada kolom jurusan perlu diisi agar dataset lengkap dan tidak error saat analisis.

- Mengisi nilai kosong dengan “Pembangkit Energi”

  Semua data jurusan yang kosong otomatis diganti dengan jurusan default tersebut.

- Menggunakan fungsi fillna()

  Fungsi ini digunakan karena dapat mengganti seluruh nilai hilang dalam satu perintah.

In [ ]:
SaktiKribo_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

Penjelasan Langkah Langkah

- Menjalankan isna().sum()

  Digunakan untuk menghitung jumlah nilai kosong (NaN) pada setiap kolom.

- Menampilkan hasil total NaN per kolom

  Output menunjukkan kolom mana yang masih memiliki data hilang sehingga bisa diputuskan langkah perbaikannya.

In [ ]:
SaktiKribo_df['umur'] = SaktiKribo_df['umur'].fillna(23)

Penjelasan Langkah Langkah

- Menggunakan fillna(23)

  Mengisi semua nilai kosong pada kolom umur dengan angka 23.

- Menjaga konsistensi data

  Dengan mengisi NaN, kolom umur menjadi bersih dan tidak ada lagi nilai hilang yang bisa mengganggu analisis berikutnya.

In [ ]:
SaktiKribo_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

Penjelasan Langkah Langkah

- Menjalankan isna().sum()

  Kita menggunakan fungsi ini untuk menghitung jumlah nilai kosong (NaN) pada setiap kolom di dalam dataset SaktiKribo_df.

- Memastikan kolom sudah bersih

  Setelah pengisian data sebelumnya, langkah ini dilakukan untuk memastikan bahwa kolom seperti jurusan dan umur sudah tidak memiliki missing value lagi.

- Menjadi acuan tahap berikutnya

  Hasil pengecekan ini membantu kita memutuskan apakah masih ada kolom lain yang perlu diperbaiki atau sudah siap dipakai untuk analisis lanjutan.

In [ ]:
SaktiKribo_df['nilai_akhir'] = pd.to_numeric(SaktiKribo_df['nilai_akhir'], errors='coerce') #konversi tipe data menjadi numeric yaitu float
SaktiKribo_df['nilai_akhir'].mean() #mecari rata-rata

np.float64(88.15384615384616)

Penjelasan Langkah Langakah

- Mengonversi kolom nilai_akhir menjadi numerik

  Kita menggunakan pd.to_numeric() agar semua data di kolom nilai_akhir berubah menjadi tipe angka (float). Jika ada data yang tidak bisa dibaca sebagai angka, kita ubah menjadi NaN dengan errors='coerce'.

- Mencari nilai rata-rata

  Setelah datanya sudah bersih dan bertipe numerik, kita memanggil .mean() untuk menghitung rata-rata dari seluruh nilai yang ada pada kolom nilai_akhir.

- Tujuan akhirnya

  Dengan nilai rata-rata ini, nantinya kita bisa gunakan untuk mengisi missing value atau keperluan analisis data lainnya.

In [ ]:
SaktiKribo_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, 0 to 69
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             70 non-null     object
 1   nama            70 non-null     object
 2   jurusan         70 non-null     object
 3   umur            70 non-null     object
 4   nilai_akhir     65 non-null     float64
 5   kehadiran_pct   68 non-null     float64
 6   tanggal_daftar  68 non-null     object
dtypes: float64(2), object(5)
memory usage: 4.4+ KB

Penjelasan Langkah Langkah

- Menampilkan ringkasan struktur data

  Saat kita menjalankan SaktiKribo_df.info(), Python menampilkan informasi lengkap tentang dataset seperti jumlah baris, jumlah kolom, dan tipe data tiap kolom.

- Melihat jumlah data non-null

  Dari output ini, kita bisa melihat berapa banyak data yang tidak kosong di masing-masing kolom, sehingga kita bisa tahu apakah masih ada missing value.

- Memeriksa tipe data

  Fungsi ini juga menunjukkan tipe data seperti int64, float64, atau object. Informasi ini penting supaya kita tahu apakah perlu mengubah tipe datanya sebelum analisis.

- Membantu memahami kondisi dataset

  Secara keseluruhan, langkah ini membuat kita lebih paham kondisi awal data sebelum melakukan pembersihan atau pengolahan lebih lanjut.

In [ ]:
SaktiKribo_df['nilai_akhir'] = SaktiKribo_df['nilai_akhir'].fillna(88)
#sekarang isi missing value pada nilai_akhir dengan nilai rata-rata yg sudah di dapat sebelumnya

Penjelasan Langkah Langkah

- Mengakses kolom nilai_akhir

  Kita fokus pada kolom nilai_akhir untuk memperbaiki data yang masih kosong.

- Mengisi nilai kosong (NaN)

  Dengan menggunakan .fillna(88), kita mengganti semua nilai yang hilang dengan angka 88, yaitu rata-rata yang sudah dihitung sebelumnya.

- Menyimpan perubahan ke kolom yang sama

  Hasil pengisian ini langsung disimpan ke kolom nilai_akhir, sehingga tidak ada lagi missing value pada kolom tersebut.

In [ ]:
SaktiKribo_df.isna().sum()
#cek hasilnya

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

Penjelasan Langkah Langkah

- Menjalankan isna().sum()

  Kita menggunakan perintah ini untuk menghitung kembali jumlah nilai kosong (NaN) pada setiap kolom setelah proses pengisian data.

- Memastikan perubahan berhasil

  Dari hasil pengecekan ini, kita bisa melihat apakah kolom nilai_akhir sudah tidak memiliki missing value lagi.

- Menjadi evaluasi akhir tahap pembersihan

  Langkah ini memastikan bahwa dataset sudah lebih rapi dan siap digunakan untuk analisis selanjutnya

In [ ]:
SaktiKribo_df['kehadiran_pct'] = pd.to_numeric(SaktiKribo_df['kehadiran_pct'], errors='coerce') #konversi tipe data menjadi numeric yaitu float
SaktiKribo_df['kehadiran_pct'].mean() #mecari rata-rata

np.float64(82.13235294117646)

Penjelasan Langkah Langkah

- Mengonversi kolom kehadiran_pct menjadi numerik

  Kita menggunakan pd.to_numeric() supaya semua data di kolom kehadiran_pct berubah menjadi angka. Jika ada nilai yang tidak bisa dibaca sebagai angka, otomatis diubah menjadi NaN karena memakai errors='coerce'.

- Menghitung nilai rata-rata

  Setelah datanya sudah dalam bentuk numerik dan bersih, kita memanggil .mean() untuk mendapatkan rata-rata persentase kehadiran di seluruh baris.

- Menjadikan rata-rata sebagai acuan

  Nilai rata-rata ini nantinya bisa kita gunakan untuk mengisi data yang hilang atau analisis berikutnya.

In [ ]:
SaktiKribo_df['kehadiran_pct'] = SaktiKribo_df['kehadiran_pct'].fillna(82)
#sekarang isi missing value pada nilai_akhir dengan nilai rata-rata yg sudah di dapat sebelumnya

Penjelasan Langkah Langkah

- Mengakses kolom kehadiran_pct

  Kita mengambil kolom ini karena masih ada nilai yang kosong setelah proses konversi sebelumnya.

- Mengisi nilai kosong dengan angka 82

  Dengan menggunakan .fillna(82), semua data yang bernilai NaN digantikan dengan angka 82, yaitu rata-rata yang sudah dihitung sebelumnya.

- Menyimpan perubahan langsung ke kolom tersebut

  Hasil pengisian ini langsung diperbarui di kolom kehadiran_pct, sehingga kolom ini menjadi lengkap dan tidak memiliki missing value lagi.

In [ ]:
SaktiKribo_df.isna().sum()
#cek hasilnya

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    2
dtype: int64

Penjelasan Langkah Langkah

- Menjalankan isna().sum()

  Kita menggunakan perintah ini untuk menghitung ulang jumlah nilai kosong (NaN) di setiap kolom setelah proses pengisian nilai dilakukan.

- Memastikan kolom sudah bersih

  Dari hasilnya, kita bisa melihat apakah kolom kehadiran_pct sudah tidak memiliki missing value lagi.

- Sebagai pengecekan akhir tahap pembersihan

  Langkah ini memastikan bahwa dataset sudah rapi dan siap digunakan untuk analisis selanjutnya tanpa adanya data yang hilang.

In [ ]:
SaktiKribo_df['tanggal_daftar'] = SaktiKribo_df['tanggal_daftar'].fillna('2024-03-24')
# karena tanggal lagir di sini bertipe string jadi langsung masukan saja tidak perlu di cari rata-rata nya atau konversi ke numerik

Penjelasan Langkah Langkah

- Mengambil kolom tanggal_daftar

  Kita fokus pada kolom ini karena masih ada nilai yang kosong (NaN) yang perlu diisi.

- Mengisi nilai kosong dengan tanggal default

  Dengan .fillna('2024-03-24'), semua data yang hilang langsung diganti menggunakan tanggal '2024-03-24' sebagai nilai pengganti.

- Tidak perlu konversi numerik

  Karena kolom tanggal awalnya masih berupa string, kita cukup mengisi nilai kosong tanpa harus menghitung rata-rata atau mengubah tipe data terlebih dahulu.

In [ ]:
SaktiKribo_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    0
dtype: int64

Penjelasan Langkah Langkah

- Menjalankan isna().sum()

  Kita menggunakan perintah ini untuk menghitung jumlah nilai kosong (NaN) pada setiap kolom setelah pengisian data dilakukan.

- Memastikan kolom tanggal_daftar sudah terisi

  Dari hasil pengecekan, kita bisa melihat apakah kolom tersebut sudah tidak memiliki missing value lagi setelah diisi dengan tanggal default.

- Sebagai verifikasi akhir

  Langkah ini memastikan bahwa tahap pembersihan data berjalan sesuai rencana dan dataset siap untuk proses berikutnya.

In [ ]:
SaktiKribo_df.jurusan.value_counts()

jurusan
Energi               21
Informatika          17
Teknik               12
Manajemen Energi     11
Pembangkit Energi     2
teknik                1
 energi               1
ManajemenEnergi       1
EnErGi                1
Teknik                1
ENG                   1
ENERGI                1
Name: count, dtype: int64

Penjelasan Langkah Langkah

- Memanggil jurusan.value_counts()

  Kita menggunakan perintah ini untuk menghitung berapa banyak data pada setiap kategori jurusan di dalam dataset.

- Menampilkan frekuensi setiap jurusan

  Hasilnya akan menunjukkan jumlah kemunculan masing-masing jurusan, sehingga kita bisa melihat jurusan mana yang paling banyak atau paling sedikit muncul.

- Sebagai pengecekan distribusi data

  Langkah ini berguna untuk memahami kondisi data jurusan sebelum proses normalisasi atau pembersihan lanjutan.

In [ ]:
SaktiKribo_df.umur.value_counts()

umur
23.0          15
25.0          10
20.0           9
24.0           9
22.0           8
19.0           7
21.0           4
23             2
150            1
twenty         1
-5             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

Penjelasan Langkah Langkah

- Menjalankan umur.value_counts()

  Kita menggunakan fungsi ini untuk menghitung seberapa sering setiap nilai umur muncul dalam dataset.

- Melihat distribusi umur

  Hasilnya akan menampilkan umur yang paling banyak dan paling sedikit muncul, sehingga kita bisa memahami pola data umur mahasiswa.

- Membantu pengecekan inkonsistensi

  Dengan melihat frekuensi masing-masing umur, kita bisa mendeteksi apakah ada nilai umur yang tidak wajar atau perlu dinormalisasi.

In [ ]:
SaktiKribo_df['jurusan'] = SaktiKribo_df['jurusan'].str.lower().str.strip()
#ubah menjadi huruf kecil

Penjelasan Langkah Langkah

- Mengakses kolom jurusan

  Kita fokus pada kolom ini karena isinya masih beragam dan belum konsisten dalam penulisannya.

- Mengubah semua teks menjadi huruf kecil

  Dengan .str.lower(), semua variasi penulisan seperti “Energi”, “ENERGI”, atau “eNeRgI” akan berubah menjadi bentuk konsisten yaitu “energi”.

- Menghapus spasi berlebih di awal/akhir teks

  Perintah .str.strip() digunakan untuk menghilangkan spasi yang tidak diperlukan, sehingga data jurusan menjadi lebih rapi.

- Menyiapkan data untuk normalisasi selanjutnya

  Setelah huruf kecil dan rapi, barulah proses pemetaan atau pengelompokan jurusan bisa dilakukan dengan lebih akurat.

In [ ]:
SaktiKribo_df.jurusan.value_counts()

jurusan
energi               24
informatika          17
teknik               14
manajemen energi     11
pembangkit energi     2
manajemenenergi       1
eng                   1
Name: count, dtype: int64

Penjelasan Langkah Langkah Langkah

- Menjalankan jurusan.value_counts()

  Kita memakai fungsi ini untuk menghitung jumlah kemunculan setiap kategori jurusan setelah proses pengubahan huruf kecil.

- Melihat distribusi jurusan yang sudah dinormalisasi hurufnya

  Karena sebelumnya kita sudah mengubah semua jurusan menjadi huruf kecil dan menghapus spasi, hasil perintah ini menunjukkan distribusi jurusan dalam kondisi yang lebih rapi.

- Mengevaluasi apakah masih ada variasi penulisan yang berbeda

  Dari hasilnya, kita bisa melihat apakah masih ada jurusan yang tertulis tidak konsisten dan perlu pemetaan lanjutan.

In [ ]:
#untuk memudahkan replacing maka di buatkan mapping jurusan sesuai dengan yg di inginkan, dengan kata-kata yg mirip di masukan ke jurusan yg seusai

mapping_jurusan = {
    "energi": "Pembangkit Energi",
    " energi ": "Pembangkit Energi",
    "ENERGI": "Pembangkit Energi",
    "EnErGi": "Pembangkit Energi",
    "eng": "Pembangkit Energi",
    "teknik": "Pembangkit Energi",
    "Teknik ": "Pembangkit Energi",
    "teknik ": "Pembangkit Energi",
    "manajemenenergi": "Manajemen Energi",
    "manajemen energi": "Manajemen Energi"
}

Penjelasan Langkah Langkah

- Membuat dictionary mapping_jurusan

  Kita membuat mapping berisi pasangan kata tidak konsisten → jurusan yang sudah distandarkan.

- Mengumpulkan variasi penulisan jurusan

  Semua bentuk seperti "energi", "ENERGI", "eng", "teknik", hingga "manajemen energi" dimasukkan sebagai kunci karena sering muncul dalam bentuk berbeda.

- Menentukan jurusan standar untuk tiap variasi

  Setiap variasi penulisan diarahkan ke bentuk rapi yang diinginkan, misalnya "Pembangkit Energi" atau "Manajemen Energi".

- Menyiapkan data untuk proses replace

  Mapping ini nantinya akan digunakan untuk mengganti seluruh teks jurusan menjadi bentuk yang konsisten hanya dengan satu perintah.

In [61]:
SaktiKribo_df["jurusan"] = SaktiKribo_df["jurusan"].replace(mapping_jurusan)

Penjelasan Langkah-Langkah

- Mengubah seluruh isi kolom jurusan menjadi huruf kecil menggunakan .str.lower() agar penulisan konsisten dan tidak ada perbedaan karena kapitalisasi.

- Membersihkan spasi berlebih di awal atau akhir teks dengan .str.strip() supaya nilai yang sebenarnya sama tidak terbaca berbeda.

- Menyusun mapping berupa dictionary yang berisi variasi penulisan jurusan yang ingin diseragamkan. Mapping ini membantu mengelompokkan kata-kata yang mirip ke dalam satu kategori jurusan yang benar.

- Menerapkan mapping tersebut pada kolom jurusan menggunakan .replace(), sehingga seluruh variasi penulisan otomatis diganti menjadi format yang diinginkan.

- Melakukan pengecekan ulang menggunakan .value_counts() untuk memastikan bahwa seluruh penulisan jurusan sudah rapi, konsisten, dan tidak ada duplikasi penulisan.

In [ ]:
SaktiKribo_df["jurusan"] = SaktiKribo_df["jurusan"].str.title()
#kemablikan menjadi huruf besar

Penjelasan Langkah Langkah

- Menggunakan .str.title() untuk mengubah setiap kata pada kolom jurusan menjadi format Title Case (huruf depan kapital, sisanya kecil).

- Langkah ini dilakukan setelah proses pembersihan agar semua jurusan memiliki penulisan yang rapi dan konsisten.

- Format Title Case memudahkan pembacaan dan lebih sesuai dengan standar penulisan nama jurusan di dokumen formal.

- Digunakan langsung pada kolom jurusan karena datanya sudah bersih dan sudah melalui proses mapping sebelumnya.

- Hasil akhirnya: semua jurusan tampil dengan gaya penulisan yang seragam, misalnya “pembangkit energi” → “Pembangkit Energi”.

In [ ]:
SaktiKribo_df.jurusan.value_counts()

jurusan
Pembangkit Energi    41
Informatika          17
Manajemen Energi     12
Name: count, dtype: int64

Penjelasan langkah langkah

- Perintah ini digunakan untuk menghitung jumlah kemunculan setiap kategori jurusan dalam kolom jurusan.

- Fungsi value_counts() membantu melihat distribusi data dan memastikan bahwa hasil cleaning (seperti mapping dan title case) sudah benar dan konsisten.

- Hasilnya akan menampilkan daftar jurusan beserta jumlah mahasiswa yang termasuk dalam masing-masing jurusan.

- Sangat berguna untuk mengetahui apakah masih ada kategori jurusan yang tidak sesuai, salah ketik, atau belum terkena proses replace.

In [ ]:
print("Hasil setelah normalisasi dan pemetaan:")
print(SaktiKribo_df['jurusan'].value_counts())

Hasil setelah normalisasi dan pemetaan:
jurusan
Pembangkit Energi    41
Informatika          17
Manajemen Energi     12
Name: count, dtype: int64

Penjelasan Langkah Langkah

- Menampilkan informasi bahwa data yang akan ditunjukkan adalah hasil setelah proses normalisasi dan pemetaan pada kolom jurusan.

- Menggunakan value_counts() untuk menghitung berapa banyak data pada setiap kategori jurusan.

- Mengecek apakah hasil pembersihan sudah benar, seperti:

  - Tidak ada jurusan yang salah ketik.

  - Semua jurusan sudah seragam formatnya.

  - Mapping jurusan yang mirip sudah masuk ke kategori yang tepat.

- Memastikan data sudah rapi setelah proses lowercase, trimming spasi, pemetaan, dan perubahan menjadi huruf kapital di awal kata (Title Case).

In [ ]:
SaktiKribo_df.umur.value_counts()

umur
23.0          15
25.0          10
20.0           9
24.0           9
22.0           8
19.0           7
21.0           4
23             2
150            1
twenty         1
-5             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

Penjelasan Langkah Langkah

- Menjalankan fungsi value_counts() pada kolom umur untuk menghitung jumlah kemunculan setiap nilai umur di dalam dataset.

- Digunakan untuk melihat distribusi umur, apakah ada umur yang terlalu mendominasi atau terlihat janggal.

- Membantu memastikan bahwa proses pengisian missing value sebelumnya sudah sesuai dan tidak menimbulkan nilai yang tidak wajar.

- Menjadi langkah validasi akhir sebelum analisis lebih lanjut dilakukan pada kolom umur.

In [ ]:
SaktiKribo_df['umur'] = SaktiKribo_df['umur'].replace('twenty', 20)
#bisa di lakuakn replace satu persatu seperti ini
# dari sebelumnya twenty menjadi 20

Penjelasan Langkah Langkah

- Melakukan cleaning pada kolom umur dengan mengganti nilai 'twenty' (format teks) menjadi angka 20.

- Proses ini penting karena nilai teks dapat mengganggu analisis numerik, seperti perhitungan rata-rata atau visualisasi.

- Penggantian dilakukan menggunakan fungsi .replace(), yang memungkinkan perubahan nilai secara langsung pada kolom.

- Teknik ini juga bisa dilakukan berulang jika ada nilai teks lain dalam umur, sehingga data menjadi lebih konsisten dan siap untuk analisis.

In [ ]:
print(SaktiKribo_df['umur'].value_counts())

umur
23.0          15
25.0          10
20.0           9
24.0           9
22.0           8
19.0           7
21.0           4
23             2
150            1
20             1
-5             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

Penjelasan Langkah Langkah

- Perintah value_counts() digunakan untuk menghitung jumlah kemunculan setiap nilai pada kolom umur.

- Hasilnya menunjukkan distribusi umur mahasiswa setelah proses pembersihan data dilakukan.

- Fungsi ini berguna untuk mengecek apakah masih ada nilai aneh, tidak wajar, atau belum dibersihkan.

- Dengan informasi tersebut, kita bisa memastikan bahwa kolom umur sudah konsisten dan siap dipakai untuk analisis selanjutnya.

In [ ]:
"""mapping_umur = {
    'twenty': 20,
    '21years': 21,
    'NaN_string': np.nan,
    -5: np.nan,
    120: np.nan,
    150: np.nan
}
"""
#untuk nilai yang NaN_string, -5, 120, 150 bisa langsung di ganti dengan rata-rata umur atau di jadikan missing value, tetapi jika di jadikan missing value maka setelah ini anda akan mengganti missing value tersebut, jadi sebelum itu lebih baik  di cari rata-rata nya terlebih dahulu lalu di ganti pada mappingan ini

"mapping_umur = {\n    'twenty': 20,\n    '21years': 21,\n    'NaN_string': np.nan,\n    -5: np.nan,\n    120: np.nan,\n    150: np.nan\n}\n"

Penjelasan Langkah Langkah

- Pertama, dibuat mapping dictionary bernama mapping_umur yang berisi nilai-nilai tidak valid pada kolom umur untuk diganti dengan nilai yang benar.

- Nilai teks seperti 'twenty' diubah menjadi angka 20, dan '21years' diubah menjadi 21 agar konsisten sebagai tipe numerik.

- Nilai ekstrem seperti -5, 120, dan 150 dianggap tidak masuk akal, sehingga dijadikan NaN agar bisa diproses sebagai missing value.

- Kasus seperti 'NaN_string' juga dipaksa menjadi NaN karena itu hanyalah teks, bukan nilai hilang yang sebenarnya.

- Karena beberapa nilai akan berubah menjadi missing value, disarankan untuk menghitung rata-rata umur terlebih dahulu, lalu menggantinya setelah mapping dilakukan agar kolom menjadi bersih dan tetap masuk akal.

In [ ]:
SaktiKribo_df['umur'] = pd.to_numeric(SaktiKribo_df['umur'], errors='coerce')
SaktiKribo_df['umur'].mean()

np.float64(25.220588235294116)

Penjelasan Langkah Langkah

- Mengubah kolom umur menjadi numerik menggunakan pd.to_numeric().

  Fungsi ini memastikan semua nilai di kolom umur berubah menjadi tipe angka, sedangkan nilai yang tidak bisa dikonversi akan otomatis menjadi NaN karena memakai errors='coerce'.

- Menghitung nilai rata-rata umur dengan .mean().

  Setelah seluruh data valid dan tidak valid dipisahkan (invalid → NaN), fungsi mean dapat menghitung rata-rata hanya dari nilai umur yang benar.

In [ ]:
mapping_umur = {
    'twenty': 20,
    '21years': 21,
    'NaN_string': 25,
    -5: 25,
    120: 25,
    150: 25
}

Penjelasan Langkah Langkah

- Membuat dictionary mapping_umur yang berisi pasangan nilai tidak valid → nilai pengganti.
Ini digunakan untuk merapikan data umur yang salah, aneh, atau bukan angka.

- Mengubah teks umur menjadi nilai numerik, misalnya:

  - 'twenty' → 20

  - '21years' → 21

- Menangani nilai yang tidak masuk akal, seperti -5, 120, 150, atau 'NaN_string', dengan menggantinya ke rata-rata umur (25) agar data tetap konsisten.

- Mapping ini memudahkan proses pembersihan data, karena semua nilai bermasalah bisa diperbaiki otomatis saat dilakukan .replace(mapping_umur).

In [ ]:
SaktiKribo_df['umur'] = SaktiKribo_df['umur'].replace(mapping_umur)

Penjelasan Langkah Langkah

- Menerapkan mapping yang sudah dibuat dengan menggunakan .replace(mapping_umur).
Ini otomatis mengganti semua nilai umur yang tidak valid sesuai daftar yang telah ditentukan.

- Nilai teks seperti 'twenty' dan '21years' diubah menjadi angka sehingga kolom umur menjadi lebih konsisten.

- Nilai tidak wajar seperti -5, 120, 150, dan 'NaN_string' diganti menjadi nilai rata-rata (25) agar tidak mengganggu analisis.

- Hasil akhirnya, kolom umur menjadi lebih bersih, konsisten, dan siap digunakan untuk analisis statistik maupun visualisasi.

In [ ]:
print("Hasil setelah pemetaan:")
print(SaktiKribo_df['umur'].value_counts())
print(f"\nTipe data kolom 'umur' sekarang: {SaktiKribo_df['umur'].dtype}")

Hasil setelah pemetaan:
umur
23.0    17
25.0    13
20.0    10
24.0     9
22.0     8
19.0     7
21.0     4
Name: count, dtype: int64

Tipe data kolom 'umur' sekarang: float64

 Penjelasan Langkah-langkah:

- Cetak judul "Hasil setelah pemetaan:" untuk menandai hasil dari proses pemetaan yang telah dilakukan.

- Tampilkan frekuensi dari setiap nilai unik dalam kolom 'umur' di DataFrame SaktiKribo_df. Ini berguna untuk melihat distribusi usia.

- Cetak tipe data dari kolom 'umur' untuk memastikan tipe data yang sesuai setelah pemetaan.

In [ ]:
SaktiKribo_df.isna().sum()
#ternyata terdapat 2 nilai yang NaN pada kolom umur

nim               0
nama              0
jurusan           0
umur              2
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    0
dtype: int64

Penjelasan Langkah Langkah

- Mencetak Judul:

  Baris pertama print("Hasil setelah pemetaan:") digunakan untuk mencetak teks "Hasil setelah pemetaan:" sebagai judul atau pembatas agar output lebih terorganisir.

- Menampilkan Distribusi Nilai Umur:

  Baris kedua print(SaktiKribo_df['umur'].value_counts()) melakukan akses ke kolom 'umur' dalam DataFrame SaktiKribo_df kemudian menggunakan metode value_counts() untuk menghitung frekuensi setiap nilai unik dalam kolom tersebut. Hasilnya ditampilkan dalam bentuk tabel yang menunjukkan setiap nilai umur dan jumlah kemunculannya.

- Menampilkan Tipe Data Kolom Umur:

  Baris ketiga print(f"\nTipe data kolom 'umur' sekarang: {SaktiKribo_df['umur'].dtype}") pertama-tama membuat baris baru dengan \n kemudian mencetak tipe data dari kolom 'umur' menggunakan atribut dtype. Hal ini berguna untuk memverifikasi tipe data kolom setelah proses pemetaan atau transformasi data.

Kode ini umumnya digunakan untuk melakukan pemeriksaan cepat (quick check) setelah melakukan transformasi data, memastikan distribusi nilai dan tipe data sudah sesuai dengan yang diharapkan.

In [50]:
SaktiKribo_df.head(50)
#untuk memastika bisa menggunakan sintaks di atas dengan masukan value baris yang ingin di lihat, cara ini juga bisa di lakukan untuk tail(50)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Pembangkit Energi,25.0,59.5,82.0,2024-05-05
1,E0002,Budi,Pembangkit Energi,20.0,84.5,99.0,2024-02-14
2,E0003,Citra,Pembangkit Energi,25.0,56.2,78.0,2024-04-29
3,E0004,Dewi,Pembangkit Energi,20.0,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22.0,999.0,65.0,2024-03-22
5,E0006,Fajar,Pembangkit Energi,21.0,-20.0,78.0,2024-06-21
6,E0007,Gina,Informatika,19.0,70.2,150.0,2024-06-25
7,E0008,Hendra,Pembangkit Energi,25.0,56.7,-10.0,2024-10-01
8,E0009,Ika,Informatika,25.0,58.2,83.0,2024-11-17
9,E0010,Joko,Pembangkit Energi,23.0,62.7,69.0,2024-01-24
10,E0011,Kiki,Pembangkit Energi,25.0,66.6,70.0,05/02/2024
11,E0012,Lina,Informatika,22.0,66.1,82.0,2024-03-24
12,E0013,Maya,Manajemen Energi,21.0,63.4,82.0,2024-12-25
13,E0014,Nando,Pembangkit Energi,23.0,80.4,99.0,2024-05-05
14,E0015,Oki,Pembangkit Energi,22.0,70.2,100.0,2024-04-22
15,E0016,Putu,Pembangkit Energi,25.0,85.7,68.0,2024-04-27
16,E0017,Qori,Pembangkit Energi,25.0,67.6,82.0,2024-02-03
17,E0018,Rina,Pembangkit Energi,23.0,90.1,85.0,2024-04-18
18,E0019,Sari,Informatika,22.0,90.4,94.0,2024-03-24
19,E0020,Tono,Informatika,20.0,64.9,100.0,2024-10-02
20,E0021,Uli,Pembangkit Energi,24.0,78.4,90.0,2024-07-04
21,E0022,Vina,Pembangkit Energi,NaN,75.4,70.0,2024-01-25
22,E0023,Wawan,Pembangkit Energi,20.0,80.1,92.0,2024-11-01
23,E0024,Xena,Informatika,22.0,70.3,94.0,2024-09-27
24,E0025,Yudi,Pembangkit Energi,23.0,89.4,65.0,2024-12-14
25,E0026,Zara,Informatika,24.0,90.4,82.0,2024-11-24
26,E0027,Arif,Pembangkit Energi,19.0,66.7,75.0,24 Nov 2024
27,E0028,Bima,Pembangkit Energi,24.0,90.0,81.0,2024-09-13
28,E0029,Cici,Pembangkit Energi,23.0,91.5,84.0,2024-11-23
29,E0030,Dani,Pembangkit Energi,20.0,88.0,75.0,2024-10-03
30,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
31,E0032,Ferry,Pembangkit Energi,25.0,87.3,80.0,2024-01-30
32,E0033,Gilang,Pembangkit Energi,23.0,88.0,70.0,2024-09-05
33,E0034,Hani,Manajemen Energi,25.0,76.3,73.0,2024-03-06
34,E0035,Indra,Manajemen Energi,23.0,61.6,98.0,2024-11-06
35,E0036,Jeni,Informatika,20.0,92.2,77.0,2024-12-31
36,E0037,Kris,Manajemen Energi,22.0,94.8,88.0,2024-03-24
37,E0038,Lulu,Pembangkit Energi,19.0,64.9,69.0,2024-06-22
38,E0039,Mita,Pembangkit Energi,23.0,77.2,79.0,2024-01-04
39,E0040,Nina,Pembangkit Energi,24.0,80.2,79.0,09-17-2024
40,E0041,Omar,Informatika,25.0,88.0,97.0,2024-05-01
41,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-08
42,E0043,Rico,Pembangkit Energi,20.0,86.4,91.0,2024-04-07
43,E0044,Sinta,Manajemen Energi,19.0,81.4,87.0,2024-08-04
44,E0045,Tari,Pembangkit Energi,22.0,89.6,68.0,2024-12-10
45,E0046,Umar,Pembangkit Energi,19.0,71.1,86.0,2024-02-25
46,E0047,Vita,Manajemen Energi,20.0,62.6,93.0,2024.06.28
47,E0048,Widi,Manajemen Energi,20.0,66.1,80.0,2024-02-08
48,E0049,Xul,Pembangkit Energi,25.0,89.5,100.0,May 22 2024
49,E0050,Yosef,Pembangkit Energi,24.0,95.0,65.0,2024-02-17

Penjelasan Langkah Langkah

- SaktiKribo_df.head(50)

  - Menampilkan 50 baris pertama dari DataFrame

  - Berguna untuk inspeksi data awal dan quality control

  - Parameter angka bisa disesuaikan kebutuhan (10, 100, dll)

- SaktiKribo_df.tail(50)

  - Menampilkan 50 baris terakhir dari DataFrame

  - Berguna untuk memeriksa data bagian akhir dataset

  - Membantu deteksi pola atau anomali di akhir data

In [51]:
SaktiKribo_df.tail(50)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
20,E0021,Uli,Pembangkit Energi,24.0,78.4,90.0,2024-07-04
21,E0022,Vina,Pembangkit Energi,NaN,75.4,70.0,2024-01-25
22,E0023,Wawan,Pembangkit Energi,20.0,80.1,92.0,2024-11-01
23,E0024,Xena,Informatika,22.0,70.3,94.0,2024-09-27
24,E0025,Yudi,Pembangkit Energi,23.0,89.4,65.0,2024-12-14
25,E0026,Zara,Informatika,24.0,90.4,82.0,2024-11-24
26,E0027,Arif,Pembangkit Energi,19.0,66.7,75.0,24 Nov 2024
27,E0028,Bima,Pembangkit Energi,24.0,90.0,81.0,2024-09-13
28,E0029,Cici,Pembangkit Energi,23.0,91.5,84.0,2024-11-23
29,E0030,Dani,Pembangkit Energi,20.0,88.0,75.0,2024-10-03
30,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
31,E0032,Ferry,Pembangkit Energi,25.0,87.3,80.0,2024-01-30
32,E0033,Gilang,Pembangkit Energi,23.0,88.0,70.0,2024-09-05
33,E0034,Hani,Manajemen Energi,25.0,76.3,73.0,2024-03-06
34,E0035,Indra,Manajemen Energi,23.0,61.6,98.0,2024-11-06
35,E0036,Jeni,Informatika,20.0,92.2,77.0,2024-12-31
36,E0037,Kris,Manajemen Energi,22.0,94.8,88.0,2024-03-24
37,E0038,Lulu,Pembangkit Energi,19.0,64.9,69.0,2024-06-22
38,E0039,Mita,Pembangkit Energi,23.0,77.2,79.0,2024-01-04
39,E0040,Nina,Pembangkit Energi,24.0,80.2,79.0,09-17-2024
40,E0041,Omar,Informatika,25.0,88.0,97.0,2024-05-01
41,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-08
42,E0043,Rico,Pembangkit Energi,20.0,86.4,91.0,2024-04-07
43,E0044,Sinta,Manajemen Energi,19.0,81.4,87.0,2024-08-04
44,E0045,Tari,Pembangkit Energi,22.0,89.6,68.0,2024-12-10
45,E0046,Umar,Pembangkit Energi,19.0,71.1,86.0,2024-02-25
46,E0047,Vita,Manajemen Energi,20.0,62.6,93.0,2024.06.28
47,E0048,Widi,Manajemen Energi,20.0,66.1,80.0,2024-02-08
48,E0049,Xul,Pembangkit Energi,25.0,89.5,100.0,May 22 2024
49,E0050,Yosef,Pembangkit Energi,24.0,95.0,65.0,2024-02-17
50,E0051,Zaki,Manajemen Energi,20.0,71.3,95.0,2024-04-19
51,E0052,Adel,Informatika,23.0,61.6,65.0,2024-07-18
52,E0053,Bagus,Manajemen Energi,25.0,86.4,83.0,2024-08-04
53,E0054,Cahyo,Pembangkit Energi,NaN,62.6,78.0,2024-01-30
54,E0055,Dina,Pembangkit Energi,24.0,67.5,68.0,2024-10-26
55,E0056,Edo,Pembangkit Energi,23.0,88.0,98.0,2024-03-21
56,E0057,Fauzi,Pembangkit Energi,23.0,58.2,76.0,2024-02-05
57,E0058,Gita,Pembangkit Energi,24.0,89.5,90.0,2024-03-02
58,E0059,Hadi,Informatika,23.0,78.8,70.0,2024-08-02
59,E0060,Ilham,Informatika,21.0,88.0,85.0,2024-05-02
60,E0061,Jaya,Informatika,22.0,60.2,84.0,2024-08-22
61,E0062,Kirana,Pembangkit Energi,25.0,92.4,65.0,2024-08-22
62,E0063,Lutfi,Pembangkit Energi,19.0,76.5,97.0,2024-05-15
63,E0064,Mega,Pembangkit Energi,21.0,90.2,80.0,2024-07-08
64,E0065,Nadia,Informatika,23.0,72.5,99.0,2024-12-26
65,E0066,Oleh,Pembangkit Energi,23.0,94.4,98.0,2024-01-05
66,E0067,Putri,Pembangkit Energi,24.0,59.1,82.0,2024-05-15
67,E0068,Rafi,Informatika,19.0,84.7,74.0,2024-05-19
68,E0069,Salsa,Informatika,23.0,63.4,86.0,2024-04-14
69,E0070,Tasya,Manajemen Energi,23.0,74.5,68.0,2024-02-17

Penjelasan Langkah Langkah

- SaktiKribo_df.tail(50)

  - Menampilkan 50 baris terakhir dari DataFrame

  - Berguna untuk memeriksa data bagian akhir dataset

  - Membantu deteksi pola atau anomali di akhir data

In [52]:
SaktiKribo_df['umur'].mean() #mencari rata-rata

np.float64(22.426470588235293)

Penejelasan Langkah Langkakh   

- SaktiKribo_df['umur']

  - Mengakses kolom 'umur' dari DataFrame SaktiKribo_df

  - Mengambil semua nilai usia yang tersimpan dalam kolom tersebut

- .mean()

  - Method untuk menghitung nilai rata-rata (average)

  - Secara otomatis menjumlahkan semua nilai kemudian membagi dengan jumlah data

  - Hanya bekerja pada data numerik (int/float)

In [53]:
SaktiKribo_df['umur'] = SaktiKribo_df['umur'].fillna(22) #isi dengan nilai rata-rata

Penjelasan Langkah Langkah

- SaktiKribo_df['umur']

  - Mengakses kolom 'umur' dari DataFrame SaktiKribo_df

  - Mengidentifikasi kolom yang akan dilakukan operasi

- .fillna(22)

  - Method untuk mengisi nilai missing (NaN) dengan nilai tertentu

  - Dalam kasus ini, mengisi dengan nilai 22

  - Menangani data yang kosong atau tidak terdefinisi

- SaktiKribo_df['umur'] = ...

  - Assignment operation untuk menyimpan hasil perubahan

  - Mengupdate kolom 'umur' dengan nilai yang sudah diisi

  - Perubahan bersifat permanen pada DataFrame

In [55]:
SaktiKribo_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    0
dtype: int64

Penjelasan Langkah Langkah

- SaktiKribo_df.isna()

  - Method untuk mendeteksi nilai missing (NaN/kosong) dalam DataFrame

  - Mengembalikan DataFrame boolean dengan nilai:

      - True untuk data yang missing

      - False untuk data yang terisi

- .sum()

  - Method untuk menjumlahkan nilai True (dianggap 1) dan False (dianggap 0)

  - Dijalankan pada hasil isna() untuk menghitung total missing values

In [56]:
SaktiKribo_df.duplicated().sum()

np.int64(0)

Penjelasan Langkah Langkah

- SaktiKribo_df.duplicated()

  - Method untuk mendeteksi data duplikat (baris yang sama persis) dalam DataFrame

  - Mengembalikan Series boolean dengan nilai:

      - True untuk baris yang terduplikasi (muncul lebih dari sekali)

      - False untuk baris yang unik
- .sum()

  - Method untuk menjumlahkan semua nilai True (dianggap 1) dalam hasil duplicated()

  - Menghitung total jumlah baris duplikat yang ditemukan

In [57]:
SaktiKribo_df.head(55)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Pembangkit Energi,25.0,59.5,82.0,2024-05-05
1,E0002,Budi,Pembangkit Energi,20.0,84.5,99.0,2024-02-14
2,E0003,Citra,Pembangkit Energi,25.0,56.2,78.0,2024-04-29
3,E0004,Dewi,Pembangkit Energi,20.0,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22.0,999.0,65.0,2024-03-22
5,E0006,Fajar,Pembangkit Energi,21.0,-20.0,78.0,2024-06-21
6,E0007,Gina,Informatika,19.0,70.2,150.0,2024-06-25
7,E0008,Hendra,Pembangkit Energi,25.0,56.7,-10.0,2024-10-01
8,E0009,Ika,Informatika,25.0,58.2,83.0,2024-11-17
9,E0010,Joko,Pembangkit Energi,23.0,62.7,69.0,2024-01-24
10,E0011,Kiki,Pembangkit Energi,25.0,66.6,70.0,05/02/2024
11,E0012,Lina,Informatika,22.0,66.1,82.0,2024-03-24
12,E0013,Maya,Manajemen Energi,21.0,63.4,82.0,2024-12-25
13,E0014,Nando,Pembangkit Energi,23.0,80.4,99.0,2024-05-05
14,E0015,Oki,Pembangkit Energi,22.0,70.2,100.0,2024-04-22
15,E0016,Putu,Pembangkit Energi,25.0,85.7,68.0,2024-04-27
16,E0017,Qori,Pembangkit Energi,25.0,67.6,82.0,2024-02-03
17,E0018,Rina,Pembangkit Energi,23.0,90.1,85.0,2024-04-18
18,E0019,Sari,Informatika,22.0,90.4,94.0,2024-03-24
19,E0020,Tono,Informatika,20.0,64.9,100.0,2024-10-02
20,E0021,Uli,Pembangkit Energi,24.0,78.4,90.0,2024-07-04
21,E0022,Vina,Pembangkit Energi,22.0,75.4,70.0,2024-01-25
22,E0023,Wawan,Pembangkit Energi,20.0,80.1,92.0,2024-11-01
23,E0024,Xena,Informatika,22.0,70.3,94.0,2024-09-27
24,E0025,Yudi,Pembangkit Energi,23.0,89.4,65.0,2024-12-14
25,E0026,Zara,Informatika,24.0,90.4,82.0,2024-11-24
26,E0027,Arif,Pembangkit Energi,19.0,66.7,75.0,24 Nov 2024
27,E0028,Bima,Pembangkit Energi,24.0,90.0,81.0,2024-09-13
28,E0029,Cici,Pembangkit Energi,23.0,91.5,84.0,2024-11-23
29,E0030,Dani,Pembangkit Energi,20.0,88.0,75.0,2024-10-03
30,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
31,E0032,Ferry,Pembangkit Energi,25.0,87.3,80.0,2024-01-30
32,E0033,Gilang,Pembangkit Energi,23.0,88.0,70.0,2024-09-05
33,E0034,Hani,Manajemen Energi,25.0,76.3,73.0,2024-03-06
34,E0035,Indra,Manajemen Energi,23.0,61.6,98.0,2024-11-06
35,E0036,Jeni,Informatika,20.0,92.2,77.0,2024-12-31
36,E0037,Kris,Manajemen Energi,22.0,94.8,88.0,2024-03-24
37,E0038,Lulu,Pembangkit Energi,19.0,64.9,69.0,2024-06-22
38,E0039,Mita,Pembangkit Energi,23.0,77.2,79.0,2024-01-04
39,E0040,Nina,Pembangkit Energi,24.0,80.2,79.0,09-17-2024
40,E0041,Omar,Informatika,25.0,88.0,97.0,2024-05-01
41,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-08
42,E0043,Rico,Pembangkit Energi,20.0,86.4,91.0,2024-04-07
43,E0044,Sinta,Manajemen Energi,19.0,81.4,87.0,2024-08-04
44,E0045,Tari,Pembangkit Energi,22.0,89.6,68.0,2024-12-10
45,E0046,Umar,Pembangkit Energi,19.0,71.1,86.0,2024-02-25
46,E0047,Vita,Manajemen Energi,20.0,62.6,93.0,2024.06.28
47,E0048,Widi,Manajemen Energi,20.0,66.1,80.0,2024-02-08
48,E0049,Xul,Pembangkit Energi,25.0,89.5,100.0,May 22 2024
49,E0050,Yosef,Pembangkit Energi,24.0,95.0,65.0,2024-02-17
50,E0051,Zaki,Manajemen Energi,20.0,71.3,95.0,2024-04-19
51,E0052,Adel,Informatika,23.0,61.6,65.0,2024-07-18
52,E0053,Bagus,Manajemen Energi,25.0,86.4,83.0,2024-08-04
53,E0054,Cahyo,Pembangkit Energi,22.0,62.6,78.0,2024-01-30
54,E0055,Dina,Pembangkit Energi,24.0,67.5,68.0,2024-10-26

Penjelasan Langkah Langkah

- SaktiKribo_df

  - Mengakses DataFrame utama yang bernama SaktiKribo_df

  - Merupakan objek data yang berisi tabel dengan baris dan kolom

- .head(55)

  - Method untuk menampilkan n baris pertama dari DataFrame

  - Parameter 55 menentukan jumlah baris yang akan ditampilkan

  - Default-nya adalah 5 baris jika tidak ditentukan parameter

In [58]:
SaktiKribo_df.tail()

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
65,E0066,Oleh,Pembangkit Energi,23.0,94.4,98.0,2024-01-05
66,E0067,Putri,Pembangkit Energi,24.0,59.1,82.0,2024-05-15
67,E0068,Rafi,Informatika,19.0,84.7,74.0,2024-05-19
68,E0069,Salsa,Informatika,23.0,63.4,86.0,2024-04-14
69,E0070,Tasya,Manajemen Energi,23.0,74.5,68.0,2024-02-17

Penjelasan Langkah Langkah

- SaktiKribo_df

  - Mengakses DataFrame utama yang bernama SaktiKribo_df

  - Merupakan objek data tabular yang berisi dataset

- .tail()

  - Method untuk menampilkan n baris terakhir dari DataFrame

  - Tanpa parameter = menampilkan 5 baris terakhir (default)

  - Bisa diberi parameter angka (contoh: .tail(10) untuk 10 baris)

In [59]:
SaktiKribo_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, 0 to 69
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             70 non-null     object
 1   nama            70 non-null     object
 2   jurusan         70 non-null     object
 3   umur            70 non-null     float64
 4   nilai_akhir     70 non-null     float64
 5   kehadiran_pct   70 non-null     float64
 6   tanggal_daftar  70 non-null     object
dtypes: float64(3), object(4)
memory usage: 4.4+ KB

Penjelasan Langkah Langkah

- SaktiKribo_df

  - Mengakses DataFrame utama yang berisi data

  - Objek tabular dengan baris dan kolom

- .info()

  - Method untuk mendapatkan ringkasan metadata DataFrame

  - Menampilkan informasi struktural dataset secara komprehensif

In [60]:
SaktiKribo_df.to_csv('mahasiswa_clean.csv', index=False)

Penjelasan Langkah Langkah

- SaktiKribo_df

  - DataFrame yang akan diekspor/di-save

  - Berisi data yang sudah melalui proses cleaning dan transformasi

- .to_csv()

  - Method untuk menyimpan DataFrame ke file CSV (Comma Separated Values)

  - Format file yang universal dan mudah dibaca berbagai aplikasi

- 'mahasiswa_clean.csv'

  - Nama file output yang akan dibuat

  - Menunjukkan ini adalah data mahasiswa yang sudah bersih (clean)

- index=False

  - Parameter penting untuk tidak menyimpan index DataFrame ke file

  - Mencegah munculnya kolom index tambahan (0, 1, 2, ...) di file CSV

  - Membuat file output lebih rapi dan siap digunakan

In [ ]:
from google.colab import files
files.download('mahasiswa_clean.csv')

Penjelasan Langkah Langkah

- Fungsi & Proses:

  - File Transfer: Memindahkan file dari cloud Colab ke storage lokal

  - Backup Data: Menyimpan hasil analisis secara permanen

  - Automatic Trigger: Browser otomatis memulai proses download

- Kegunaan Praktis:

  - Menyimpan dataset yang sudah dibersihkan untuk penggunaan offline

  - Backup hasil kerja sebelum menutup session Colab

  - Berbagi file hasil processing ke orang lain

  - Penyimpanan permanen data yang sudah melalui preprocessing

- Workflow Lengkap:

  - Data cleaning di Colab → to_csv() simpan di cloud →