<a href="https://colab.research.google.com/github/novalsakti02-kibo/Pemerograman-dasar/blob/main/Praktikum_1_10_M5_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("--- Soal 1 ---")
# Mencetak bilangan genap 1 hingga 50
for angka in range(2, 51, 2):
    print(angka)

--- Soal 1 ---
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
print("--- Soal 2 ---")
kode_berhenti = 4232411026  # Ganti dengan NIM kamu
input_pengguna = 0  # Inisialisasi awal

while input_pengguna != kode_berhenti:
    try:
        input_pengguna = int(input("Masukkan angka (NIM untuk berhenti): "))
    except ValueError:
        print("Input tidak valid. Harap masukkan angka.")

print("Perulangan telah dihentikan oleh NIM kamu sendiri.")

--- Soal 2 ---
Masukkan angka (NIM untuk berhenti): 4232411026
Perulangan telah dihentikan oleh NIM kamu sendiri.

In [ ]:
print("--- Soal 3 ---")
# Daftar harga minimal 10 item
harga_barang = [15000, 25000, 10000, 10000, 20000, 30000, 8000, 45000, 8000]

total_belanja = 0

for harga in harga_barang:
    total_belanja += harga

jumlah_item = len(harga_barang)
rata_rata_harga = total_belanja / jumlah_item

print("Jumlah item belanja   :", jumlah_item)
print(f"Total biaya belanja   : Rp{total_belanja:,.0f}")
print(f"Rata-rata harga item  : Rp{rata_rata_harga:,.0f}")

--- Soal 3 ---
Jumlah item belanja   : 9
Total biaya belanja   : Rp171,000
Rata-rata harga item  : Rp19,000

In [ ]:
print("--- Soal 4 ---")
percobaan_maksimal = 3
percobaan_saat_ini = 1

while percobaan_saat_ini <= percobaan_maksimal:
    print(f"Percobaan ke-{percobaan_saat_ini}...")
    # Asumsi ada logika input password di sini
    percobaan_saat_ini += 1

if percobaan_saat_ini == percobaan_maksimal + 1:
    print("Kesempatan habis.")
else:
    print("AksesÂ diterima.")

--- Soal 4 ---
Percobaan ke-1...
Percobaan ke-2...
Percobaan ke-3...
Kesempatan habis.

In [ ]:
print("--- Soal 5 ---")
nama_proyek = "Politeknik Negeri Batam"
hasil_output = ""

for karakter in nama_proyek:
    hasil_output += karakter + "-"

print(hasil_output)

--- Soal 5 ---
P-o-l-i-t-e-k-n-i-k- -N-e-g-e-r-i- -B-a-t-a-m-

In [ ]:
print("--- Soal 6 ---")
# Countdown dari 255 ke 1
for i in range(255, 0, -1):
    print(i)

--- Soal 6 ---
255
254
253
252
251
250
249
248
247
246
245
244
243
242
241
240
239
238
237
236
235
234
233
232
231
230
229
228
227
226
225
224
223
222
221
220
219
218
217
216
215
214
213
212
211
210
209
208
207
206
205
204
203
202
201
200
199
198
197
196
195
194
193
192
191
190
189
188
187
186
185
184
183
182
181
180
179
178
177
176
175
174
173
172
171
170
169
168
167
166
165
164
163
162
161
160
159
158
157
156
155
154
153
152
151
150
149
148
147
146
145
144
143
142
141
140
139
138
137
136
135
134
133
132
131
130
129
128
127
126
125
124
123
122
121
120
119
118
117
116
115
114
113
112
111
110
109
108
107
106
105
104
103
102
101
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
print("--- Soal 7 ---")
kelurahan = ["Baloi Permai", "Batam Kota", "Belian", "Bengkong Indah",
             "Tanjung Uma", "Lubuk Baja Kota", "Sei Panas", "Kampung Seraya",
             "Buliang", "Sungai Langkai", "Tembesi", "Muka Kuning",
             "Teluk Tering", "Batu Merah", "Batu Besar", "Nongsa", "Kabil",
             "Tanjung Sengkuang", "Kibing", "Tanjung Riau"]

print("\nDaftar Kelurahan di Kota Batam")
print("-" * 30)

for i, nama in enumerate(kelurahan, start=1):
    print(f"Kelurahan ke-{i:<2} = {nama}")

--- Soal 7 ---

Daftar Kelurahan di Kota Batam
------------------------------
Kelurahan ke-1  = Baloi Permai
Kelurahan ke-2  = Batam Kota
Kelurahan ke-3  = Belian
Kelurahan ke-4  = Bengkong Indah
Kelurahan ke-5  = Tanjung Uma
Kelurahan ke-6  = Lubuk Baja Kota
Kelurahan ke-7  = Sei Panas
Kelurahan ke-8  = Kampung Seraya
Kelurahan ke-9  = Buliang
Kelurahan ke-10 = Sungai Langkai
Kelurahan ke-11 = Tembesi
Kelurahan ke-12 = Muka Kuning
Kelurahan ke-13 = Teluk Tering
Kelurahan ke-14 = Batu Merah
Kelurahan ke-15 = Batu Besar
Kelurahan ke-16 = Nongsa
Kelurahan ke-17 = Kabil
Kelurahan ke-18 = Tanjung Sengkuang
Kelurahan ke-19 = Kibing
Kelurahan ke-20 = Tanjung Riau

In [ ]:
print("--- Soal 8 ---")
data_angka = [10, 20, 30, 40, 0, 60]

for angka in data_angka:
    if angka == 0:
        break
    print(angka)

print("Program berhenti karena angkaÂ 0Â ditemukan.")

--- Soal 8 ---
10
20
30
40
Program berhenti karena angkaÂ 0Â ditemukan.

In [ ]:
print("--- Soal 9 ---")
total = 0
bilangan = 1
batas = 20

while total <= batas:
    total += bilangan
    bilangan += 1

print("Total terakhir:",total)

--- Soal 9 ---
Total terakhir: 21

In [ ]:
print("--- Soal 10 ---")
jumlah_baris = 10

for baris in range(jumlah_baris):
    baris_teks = ""
    for kolom in range(1):  # perulangan dalam hanya 1 kali
        baris_teks += "Python "
    print(baris_teks)

# Output:
# Python
# Python
#Â Python

--- Soal 10 ---
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python